.container{
    max-width: 1200px;
}
/* Profile Image Styling */
.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}
/* Header Animation */
header h1, header p {
    animation: slideDown 1s ease-out;
}

/* Card Animation */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Skills Icon Animation */
.skill-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
    transition: transform 0.3s;
}
.skill-icon:hover {
    transform: rotate(10deg) scale(1.1);
}

/* Button Styling */
.btn {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  /* Animations */
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Responsive Cards */
  @media (max-width: 768px) {
    .row .col-md-4 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
      33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
      50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
      66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
  }